@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pretendard';
    flex-shrink: 0;
}
body{
    letter-spacing: -0.03em;
    overflow-x: hidden;
}
a{
    text-decoration: none;
    color: inherit;
}

ul,li{
    list-style: none;
}
img,svg,iframe{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}